window {
  background: #003049; /* Dark Navy Blue */
}

#pos-title {
    color: #8ecae6; /*Blue Sky*/
    font-size: 18px;
    font-weight: bold;
}

#pos-input {
    background: #fefae0; /* Creamy White */
    border-radius: 10px;
    padding: 10px;
    border: none;
}

#btn-login {
    background:#41b60b; /* Green */
    color: black;
    border-radius: 8px;
    font-weight: bold;
}

#btn-logout {
    background:palevioletred; /*Pink */
    color: white;
    border-radius: 8px;
    font-weight: bold;}

#header-bar {
    background-color: #002b36;
    color: white;
    padding: 15px;
    font-weight: bold;
}

#left-panel { padding: 20px; }

#right-panel {
    background-color: #fdf6e3;
    border-left: 2px solid #002b36;
    min-width: 350px;
}

#order-area {
    padding: 10px;
    color: #333;
    font-family: monospace;
}

button {
    background-color: #6d9bb9;
    color: black;
    border-radius: 10px;
    border: none;
    margin: 2px;
}

button:hover { background: #5a83a0; }

#btn-pos {
    background: white;
    color: #002b36;
    border: 1px solid #002b36;
    border-radius: 0;
}

#btn-void {
    background: #c0292f;
    color: black;
    border-radius: 0;
}

#btn-submit {
    background: #5cb85c;
    color: black;
    border-radius: 0;
}

